layout {

    focus-ring {
        active-color   "#cb9168"
        inactive-color "#242120"
        urgent-color   "#c6685d"
    }

    border {
        active-color   "#cb9168"
        inactive-color "#242120"
        urgent-color   "#c6685d"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cb9168"
        inactive-color "#693917"
        urgent-color   "#c6685d"
    }

    insert-hint {
        color "#cb916880"
    }
}

recent-windows {
    highlight {
        active-color "#cb9168"
        urgent-color "#c6685d"
    }
}