* {
	font-size: 15px;
	font-family: CaskaydiaMono Nerd Font Mono, monospace
}

window#waybar {
	background: #262626;
	color: #fdf6e3;
}


#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}


#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#tray {
	background: #181818;
	color: #fdf6e3;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery {
	padding: 0 10px;
}

