* {
	font-size: 12px;
	font-family: JetBrainsMono Nerd Font, monospace;
	font-weight: 700;
}

window#waybar {
	background: #141414;
	color: #ffffff;
}

window#waybar > box {
    margin: 4px 2px;
}

#workspaces button {
	padding: 0 6px;
	color: #ffffff;
	border: none;
	border-radius: 5px;
}

#workspaces button.focused {
	background: #269eaa;
	font-weight: 900;
}

#workspaces button:hover {
	background: #f1f1f1;
	color:#111111;
	border-color: transparent;
}

#workspaces{
	background: #222222;
	color: #ffffff;
	border-radius: 5px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#battery,
#tray {
	background: #252525;
	color: #ffffff;
	padding: 1px 3px;
	margin: 0px 4px;
	border-radius: 5px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#battery {
	padding: 0 8px;
}
